// Colors
mainText = #333333
lightBlue = #83D4D6
mediumBlue = #0B9B8D
darkBlue = #1F4E6B
violet = #CABDFF
lightPurple = #584477
mediumPurple = #433460
darkPurple = #352954
salmon = #DB8471
darkSalmon = #B76563
sand = #F7DDA4
lightGrey = #E8E8E8
mediumGrey = #8E8E8E
darkGrey = #424040

// Fonts
primaryFont = 'sofia-pro', Helvetica, sans-serif
headerFont = 'sofia-pro', Helvetica, sans-serif
base-font-size = 20px
base-line-height = 28px
base-font-weight = 400

// Font Weights
light = 300
regular = 400
medium = 500
semibold = 600
bold = 700
black = 900


// Containers
container-width = 1200px
.container
  margin: 0 auto
  max-width: container-width
  padding: 0 20px
  @media breakpoints.palm.breakpoint
    padding: 0 15px
