select
  box-sizing: border-box
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  padding: 10px 30px
  transition: all 0.2s ease-in-out
  margin: 0
  font-family: primaryFont
  font-size: 24px
  outline: 0
  width: 100%
  color: darkGrey
  background: #FFFFFF
  box-shadow: none
  background-image: none
  position: relative
  border-radius: 0
  &:focus
    outline: none

input, textarea
  box-sizing: border-box
  -webkit-appearance: none
  padding: 10px 30px
  transition: all 0.2s ease-in-out
  margin: 0
  font-family: primaryFont
  outline: 0
  font-size: 24px
  width: 100%
  color: darkGrey
  border: 0
  font-weight: light

textarea
  padding: 30px 30px
  max-height: 300px

input[type=submit]
  width: auto
  height: auto

