.nav
  width: 100%
  position: fixed
  background-color: mediumPurple
  padding: 18px 0
  z-index: 10
  @media breakpoints.palm.breakpoint
    padding: 12px 0
    position: static
    .container
      padding: 0

.navContainer
  display: table
  width: 100%
  *
    vertical-align: middle
  @media breakpoints.palm.breakpoint
    display: block

.nav-left
  display: table-cell
  text-align: left
  @media breakpoints.palm.breakpoint
    display: block

.nav-right
  display: table-cell
  text-align: right
  @media breakpoints.palm.breakpoint
    display: none


.navLogo
  display: inline-block
  margin-right: 30px
  a
    display: inline-block
    &:focus
      outline: none
  img
    display: inline-block
    max-height: 32px
  @media breakpoints.palm.breakpoint
    display: block
    border-bottom: 1px solid violet
    margin-right: 0
    text-align: center
    background-color: mediumPurple
    img
      margin-bottom: 12px
      max-height: 24px

.menu-primary-container
  display: inline-block
  @media breakpoints.palm.breakpoint
    display: block
    text-align: center
    background-color: darkPurple
    padding-top: 12px

.primaryNav
  @extend .u-plainList
  li
    display: inline-block
    padding-right: 25px
    &:last-child
      padding-right: 0
      @media breakpoints.large.breakpoint
        display: none
    a
      display: inline-block
      color: #FFFFFF
      font-weight: medium
      border-bottom: 3px solid rgba(131,212,214,0)
      &:hover
        color: lightBlue
        border-bottom: 3px solid rgba(131,212,214,0.5)
    &.current-menu-item a
      color: lightBlue
      border-bottom: 3px solid rgba(131,212,214,0.5)
  @media breakpoints.palm.breakpoint
    display: block
    text-align: center

.navrightItem
  padding-left: 25px
  display: inline-block
  @media breakpoints.portable.breakpoint
    display: none
  &:first-child
    padding-left: 0
  a
    display: inline-block
    font-size: 16px
    color: violet
    font-weight: light
    border-bottom: 3px solid rgba(131,212,214,0)
    &:hover
      color: lightBlue
      border-bottom: 3px solid rgba(131,212,214,0.5)

.navrightItem--button
  @media breakpoints.portable.breakpoint
    display: inline-block
  a
    font-weight: medium
    color: darkBlue
    background-color: lightBlue
    padding: 3px 15px
    border-radius: 3px
    border-bottom: 0
    &:hover
      background-color: #B1EFED
      border-bottom: 0
      color: darkBlue

#myWork:before, #mySkills:before
  content: ""
  display: block
  height: 70px
  margin: -70px 0 0
