.section.mySkills
  padding: 80px 0
  position: relative
  overflow: hidden
  background : linear-gradient(180deg, rgba(53, 41, 84, 1) 0%, rgba(71, 55, 102, 1) 15.97%, rgba(84, 65, 115, 1) 33.27%, rgba(88, 68, 119, 1) 50%, rgba(98, 68, 137, 1) 100%)
  @media breakpoints.lap.breakpoint
    padding: 60px 0
  @media breakpoints.palm.breakpoint
    padding: 40px 0
  .container
    text-align: center

.mySkills-title
  @extend h2
  color: lightBlue
  margin-bottom: 70px

.skills
  text-align: center

.skill
  margin-bottom: 50px

.skill-image
  max-height: 115px
  display: block
  margin: 0 auto 10px
  @media breakpoints.palm.breakpoint
    max-height: 90px

.skill-name
  font-size: 18px
  color: violet

.smallerContainer
  max-width: 800px
  margin: 0 auto 50px

.smallerContainer--text
  color: #FFFFFF

.friends-image
  max-height: 250px
  width: auto
  @media breakpoints.palm.breakpoint
    max-height: 175px

.friends-title
  font-size: 30px
  color: lightBlue
  margin-bottom: 15px
  text-align: left
  line-height: 42px

.friends-text
  color: #FFFFFF
  text-align: left

.friends
  max-width: 800px
  margin: 0 auto
  @media breakpoints.palm.breakpoint
    display: block
    width: 100%
  .combo-first
    padding-right: 20px
    @media breakpoints.palm.breakpoint
      display: block
      padding-right: 0
      text-align: center
      width: 100%
      white-space: normal
      margin-bottom: 20px
  .combo-last
    padding-left: 20px
    @media breakpoints.palm.breakpoint
      display: block
      padding-left: 0
      text-align: center
      width: 100%
