.testimonailTitle
  @extend h5
  text-align: center
  font-weight: 400
  color: sand
  margin-bottom: 40px

.testimonial
  padding: 50px
  background-color: lightGrey
  border-radius: 8px
  box-shadow: 20px 20px 0px 0px darkSalmon
  max-width: 95%
  margin: 0 auto
  @media breakpoints.palm.breakpoint
    margin-bottom: 50px
    box-shadow: 10px 10px 0px 0px darkSalmon
    padding: 30px

.testimonial-text
  @extend p
  margin-bottom: 30px

.testimonial-photo
  border-radius: 50%
  img
    max-height: 75px
    width: auto
    border-radius: 50%

.testimonial-name
  font-size: 18px
  font-weight: bold
  color: salmon
  text-transform: uppercase
  a
    @extend a.darkLink

.testimonial-title
  font-size: 18px
  font-style: italic
  a
    @extend a.darkLink
