.button
  color: darkBlue
  text-align: center
  cursor: pointer
  transition: all 0.2s ease-in-out
  padding: 10px 25px
  display: inline-block
  text-decoration: none
  background-color: lightBlue
  border-radius: 3px
  box-shadow: 5px 5px 0px 0px mediumBlue
  &:hover
    background-color: #B1EFED
    box-shadow: 5px 5px 0px 0px lighten(mediumBlue, 5)
